body {
    font-family: georgia,serif;
    background: white;
    color: #3e2f2f;
    margin: 0;
    padding: 0;
    height: 10000px; /* To make sure we can scroll to hide the address bar */
}

h1 {
    font-size: 1em;
    font-weight: normal;
    margin: 0 0 0.3em 0;
    padding: 1ex;
    background: #E8E9DE url(/static/bg-introduction.gif) 100% 100% no-repeat
}

.beercolumn {
    float: left;
}

.beer {
    position: relative;
    margin: 1.5em 1.5em 0 1.5em;
    width: 27em;
    height: 14em;
    overflow: hidden;
}

.beer h2 {
    font-size: 2.2em;
    color: #b32720;
    margin: 0;
    margin-bottom: 0.25em;
    padding: 0;
}

.beer h3 {
    font-size: 1.1em;
    font-weight: normal;
    margin-top: 0.7em;
    margin-bottom: 0.1em;
}

.beer .location {
    font-size: 0.8em;
}

.beer .name {
    font-size: 1.5em;
    white-space: nowrap;
}

.beer .img {
    position: absolute;
    right: 0;
    top: 2em;
}

.beer .img img {
    max-height: 10em;
    max-width: 10em;
    border: 1px solid #bbb;
    padding: 1px;
    background: white;
}

hr {
    visibility: hidden;
}

#status {
    position: fixed;
    bottom: 0.1em;
    left: 0.1em;
}
