#OnTap {
    background-color: #fff;
    padding: 0;
}

#OnTap GtkLabel {
    font-family: "PT Sans";
}

#OnTap .tap_frame {
    margin: 0;
    padding: 0 0 10px 0;
}

#OnTap .tap_num {
    background-color: #aaa;
}

#OnTap .checkin {
    background-color: #eee;
    border-color: #000;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
}

