#OnTap {
    background-color: #fff;
    padding: 0;
}

#OnTap GtkLabel {
    font-family: "PT Sans";
}

#OnTap .title {
    background-color: #ccc;
    border-bottom: 2px solid #000;
}

#OnTap .tap_display {
    margin: 0;
    padding: 0 0 10px 0;
    border: 1px solid black;
}

#OnTap .tap_num {
    background-color: #aaa;
}

#OnTap .checkin {
    background-color: #eee;
    border-color: #000;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
}

