{
  "untappd_api_id":       "",
  "untappd_api_secret":   "",
  "units_per_pulse":      0.07608,
  "total_keg_units":      640,
  "hardware_id":          "16c0:0483",
  "web_port":             8080,
  "cookie_secret":        "",
  "admin_email_domain":   "example.com",
  "google_oauth_url":     "",
  "google_oauth_key":     "",
  "google_oauth_secret":  ""
}
